{
	"useTabs": true,
	"tabWidth": 4,
	"semi": false,
	"singleQuote": false,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"endOfLine": "lf",
	"printWidth": 80,
	"overrides": [
		{
			"files": ["*.yml", "*.yaml", "*.md"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
